{% extends "myPortfolio/base.html" %}
{% block content %}
<style>
  .myCard{
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
  }
  .myTransition {
    width: 80%;
    transition: width 1s, height 2s;
  }

  .myTransition:hover {
    width: 100%;
  }

    #about {
  animation-duration: 1s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

  }
</style>
  <table border="0" width="100%" cellpadding="0" cellspacing="0" bgcolor="white" class="myCard">
    <tr>
      <td>
        <table border="0" cellpadding="15" cellspacing="0" width="90%" align="center">
          <tr>
            <td align="center" valign="middle"=>
              <font face="Verdana" size="7" color="#5f788a"><b>About Me</b>
              </font>
              <hr color="#4CAF50" width="90">
            </td>
          </tr>
          <tr>
            <td width="60%">
              <font face="Verdana" size="4" color="black">Hello there!
                <hr color="black">My name is Ritik Raj. I am 20 years old and a second year undergraduate in the department of mining engineering, at the Indian Institute of Technology Kharagpur.
                I am a boarder of Rajendra Prasad Hall of Resedence.
                <hr color="black">I am a competitive programmer. My preferred language for it is C++. I have a 4 star (1802) rating on Codechef and 1187 on Codeforces.
                I know programming languages such as Kotlin, JavaScript, Python and C/C++.
                <hr color="black">I have knowledge in the field of Blockchain and Ethical Hacking as well.
                <hr color="black">Thank you for your time.
                <br>
              </font>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <br>
  <div class="myTransition">
    <div class="myCard">
      <table id="footer" border="0" width="100%" cellpadding="0" cellspacing="0" bgcolor="#5f788a">
        <tr>
          <td>
            <table border="0" cellpadding="15" cellspacing="0" width="90%" align="center">
              <tr>
                <td width="13%" valign="top">
                  <a href="https://www.hackerrank.com/ritik_26" style="text-decoration:none"><b><p style="color:white">Hackerrank</p></b>
                  </a>
                </td>
                <td width="13%" valign="top">
                  <a href="https://auth.geeksforgeeks.org/user/ritikraj26/profile" style="text-decoration:none"><b><p style="color:white">GeeksforGeeks</p></b>
                  </a>
                </td>
                <td width="13%" valign="top">
                  <a href="https://www.codechef.com/users/retr0_26" style="text-decoration:none"><b><p style="color:white">Codechef</p></b>
                  </a>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </div>
</div>
  <!-- Add icon library -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Add font awesome icons -->
  <!--<a href="#" class="fa fa-facebook"></a>
  <a href="#" class="fa fa-twitter"></a>-->

{% endblock content %}
