{% extends "myPortfolio/base.html" %}
{% block content %}
  <table id="about" border="0" width="100%"
        cellpadding="0" cellspacing="0" bgcolor="353231">
        <tr>
            <td>
                <table border="0" cellpadding="15"
                    cellspacing="0" width="90%" align="center">
                    <tr>
                        <td height="180" align="center"
                            valign="middle" colspan="2">
                            <font face="Verdana" size="7"
                                color="#4CAF50">
                                About Me
                            </font>
                            <hr color="#4CAF50" width="90">
                        </td>
                    </tr>

                    <tr>

                        <td width="60%">
                            <font face="Verdana" size="4"
                                color="white">
                                Hello there!
                                <hr color="black">

                                My name is Ritik Raj. I am 20 years old and a second year undergraduate in the department of mining engineering, at the Indian Institute of Technology Kharagpur.
                                I am a boarder of Rajendra Prasad Hall of Resedence.

                                <hr color="black">

                                I am a competitive programmer. My preferred language for it is C++. I have a 4 star (1802) rating on Codechef and 1187 on Codeforces.
                                I know programming languages such as Kotlin, JavaScript, Python and C/C++.
                                <hr color="black">

                                I have knowledge in the field of Blockchain and Ethical Hacking as well.

                                <hr color="black">
                                Thank you for your time.
                                <br>
                            </font>
                        </td>
                    </tr>
                </table>
                <hr color="black">
                <hr color="black">
                <hr color="black">
            </td>
        </tr>
    </table>
    <p>






    </p>
    <table id="footer" border="0" width="100%"
        cellpadding="0" cellspacing="0" bgcolor="4d4948">
        <tr>
            <td>
                <table border="0" cellpadding="15"
                    cellspacing="0" width="90%" align="center">
                    <tr>
                        <td width="13%" valign="top">
                            <a href="https://www.linkedin.com/in/ritik-raj-53025a200/" style="text-decoration:none"><b><p style="color:#4CAF50">LinkedIn</p></b>
                            </a>
                        </td>

                        <td>
                            |
                        </td>

                        <td width="13%" valign="top">
                            <a href="https://codeforces.com/profile/_ritik" style="text-decoration:none"><b><p style="color:#4CAF50">Codeforces</p></b>
                            </a>
                        </td>

                        <td>
                            |
                        </td>

                        <td width="13%" valign="top">
                            <a href="https://www.hackerrank.com/ritik_26" style="text-decoration:none"><b><p style="color:#4CAF50">HackerRank</p></b>
                            </a>
                        </td>

                        <td>
                            |
                        </td>

                        <td width="13%" valign="top">
                            <a href="https://auth.geeksforgeeks.org/user/ritikraj26/profile" style="text-decoration:none"><b><p style="color:#4CAF50">GeeksForGeeks</p></b>
                            </a>
                        </td>

                        <td>
                            |
                        </td>

                        <td width="13%" valign="top">
                            <a href="https://www.codechef.com/users/retr0_26" style="text-decoration:none"><b><p style="color:#4CAF50">Codechef</p></b>
                            </a>
                        </td>

                    </tr>
                </table>
            </td>
        </tr>
    </table>

{% endblock content %}
