{% extends "myPortfolio/base.html" %}
{% block content %}
<style>
  .myCard{
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
  }

  .myTransition:hover {
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
  }

  .TransitionEff {
    height: 50px;
    transition: height 2s;
  }

  .TransitionEff:hover {
    height: 10px;
  }
</style>
<table id="projects" border="0" width="120%" cellpadding="0" cellspacing="0" bgcolor="white" class="myCard">
  <tr>
    <td>
      <table border="0" cellpadding="20" cellspacing="0" width="80%" align="center">
        <tr class="myCard">
          <td height="80" align="center" valign="middle" colspan="2" bgcolor="#5f788a">
            <font face="Verdana" size="7" color="white" >My Academic Information
            </font>
          </td>
        </tr>
        <tr>
          <td>
            <h5><b>EDUCATION</b></h5>
            <br>
            <div class="accordion" id="accordionExample">
              <div class="card">
                <div class="myCard">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      CLASS X
                    </button>
                  </h5>
                </div>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                  <div class="card-body">
                    <ul>
                      <li>School: Notre Dame Academy, Munger</li>
                      <li>Grade: 10 CGPA</li>
                      <li>Member of the student council/ Captain of the Rabindranath Tagore House</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="myCard">
                <div class="card-header" id="headingTwo">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      CLASS XII
                    </button>
                  </h5>
                </div>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                  <div class="card-body">
                    <ul>
                      <li>School: Delhi Public School, Bokaro</li>
                      <li>Stream : Physics, Chemistry, Mathematics + Computer Science</li>
                      <li>Grade: 92.8%</li>
                      <li>Memebr of the Ganga House football team</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="myCard">
                <div class="card-header" id="headingThree">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      COLLEGE
                    </button>
                  </h5>
                </div>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                  <div class="card-body">
                    <ul>
                      <li>Indian Institute of Technology, Kharagpur</li>
                      <li>Department of mining Engineering</li>
                      <li>Current CGPA: 8.3 </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <h5><b>PROJECTS</b></h5>
            <br>
            <div class="row">
              <div class="col-sm-6">
                <div class="myTransition">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Image Background Changer</h5>
                    <p class="card-text">This is a web app which can change background of images with green screen.</p>
                    <a href="https://codepen.io/ritikraj26/pen/zYZrbZB" class="btn btn-secondary">Visit the project</a>
                  </div>
                </div>
              </div>
              </div>
              <div class="col-sm-6">
                <div class="myTransition">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">TODO List</h5>
                    <p class="card-text">A web app which can be used to add tasks, and check them after they are finished.</p>
                    <a href="https://codepen.io/ritikraj26/pen/YzZXPYW" class="btn btn-secondary">Visit the project</a>
                  </div>
                </div>
              </div>
            </div>
            </div>
            <br>
            <div class="row">
              <div class="col-sm-6">
                <div class="myTransition">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Paint it</h5>
                    <p class="card-text">A web app which can be used as a paint tool.</p>
                    <a href="https://codepen.io/ritikraj26/pen/gOmPXJJ" class="btn btn-secondary">Visit the project</a>
                  </div>
                </div>
              </div>
              </div>
              <div class="col-sm-6">
                <div class="myTransition">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Grayscale</h5>
                    <p class="card-text">A web app which makes an image grayscale.</p>
                    <a href="https://codepen.io/ritikraj26/pen/KKWVJvB" class="btn btn-secondary">Visit the project</a>
                  </div>
                </div>
              </div>
              </div>
            </div>
            <br>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<br>

<table id="footer" border="0" width="80%" cellpadding="0" cellspacing="0" align="right" bgcolor="#5f788a" class="myCard">
    <tr>
    <td>
      <table border="0" cellpadding="15" cellspacing="0" width="90%" align="center">
        <tr>
          <td width="13%" valign="top" align="center">
            <font color="white">
            <b>Address: RP Hall of Residence, IIT KGP</b>
            <br>
            <b>Phone No. 8239804690</b>
            <br>
            <b>Email : ritikraj2699@outlook.com</b>
            </font>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>


{% endblock content %}
