{% extends "myPortfolio/base.html" %}
{% block content %}

  <div>
  <table border="0" width="100%" bgcolor="#5f788a">
    <tr>
      <td align="center">
        <marquee><h1 style="color:white;">Hi There!</h1></marquee>
      </td>
    </tr>
  </table>
  <p>


  </p>

  <table border="0" width="100%" bgcolor="#5f788a">
    <tr>
      <td>
        <h4 style="color:white;">Thank you for showing interest in my portfolio.
          I am Ritik Raj, a competitive programmer and a web developer enthusiast, always learning while coding.

        </h4>
      </td>
    </tr>
  </table>
  </div>
   <img src="https://www.w3schools.com/html/img_girl.jpg">
  <p>

  </p>
   <table id="footer" border="0" width="90%"
       cellpadding="0" cellspacing="0" bgcolor="#5f788a">
       <tr>
           <td>
               <table border="0" cellpadding="15"
                   cellspacing="0" width="90%" align="center">
                   <tr>
                       <td width="13%" valign="top">
                           <a href="https://www.linkedin.com/in/ritik-raj-53025a200/" style="text-decoration:none"><b><p style="color:white">LinkedIn</p></b>
                           </a>
                       </td>


                       <td width="13%" valign="top">
                           <a href="https://www.facebook.com/ritikraj26" style="text-decoration:none"><b><p style="color:white">Facebook</p></b>
                           </a>
                       </td>



                       <td width="13%" valign="top">
                           <a href="https://twitter.com/__ritik_" style="text-decoration:none"><b><p style="color:white">Twitter</p></b>
                           </a>
                       </td>

                   </tr>
               </table>
           </td>
       </tr>
   </table>
{% endblock content %}
