{% extends "myPortfolio/base.html" %}
{% block content %}

  <div>
  <table border="0" width="100%" bgcolor="#5f788a">
    <tr>
      <td align="center">
        <marquee><h1 style="color:white;">Hi There!</h1></marquee>
      </td>
    </tr>
  </table>
  <p>


  </p>

  <table border="0" width="100%" bgcolor="#5f788a">
    <tr>
      <td>
        <h4 style="color:white;">Thank you for showing interest in my portfolio.
          I am Ritik Raj, a competitive programmer and a web developer enthusisat, always learning while coding.
        </h4>
      </td>
    </tr>
  </table>
  </div>
  <div align="center">
    <p>
      <br>
    </p>
    <button onclick="alert('PLEASE NOTE!!!!!!!!!!!!!While navigating between pages, please press the back button of the browser and then click on any other page. This is an issue which I have not been able to resolve. Sorry for the inconvenienece.')">PLEASE CLICK HERE BEFORE PROCEEDING</button>
</div>

{% endblock content %}
